In [3]:
%load_ext autoreload
%autoreload 2
from parsing import *
from random import shuffle

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
df_decathlon = parse_decathlon()

In [13]:
df_movies = parse_movies()

In [11]:
df_decathlon = pd.read_csv('csv/decathlon_reviews.csv')

In [14]:
df_decathlon.head(5)

   label                                             review  score
0      1  Je l'ai acheter aujourd'hui et il ma permi de ...      5
1      1  Très léger toujours dans ma boite de pêche dep...      5
2      1  avant il m'a servit pendant 13 ans mais mainte...      5
3      1  manque plus qu'une version grand plogeur très ...      4
4      1  je conseil ce leurre pour sa nage et son effic...      5

In [15]:
df_movies.head(5)

   label                                             review
0     -1                                                nul
1     -1  Que dire?....vraimment de ne vois même pas l'i...
2      1  Un peu perdu dans cet ensemble de personnages ...
3     -1  Monsieur le réalisateur :"Le fait que personne...
4     -1  Purai.... J'ai perdu 30min de ma vie a regarde...

In [13]:
contents

["Nan mais ça devient n'importe quoi! Je parle pour les critiques presses! C'est quand même une honte de voir ces critiques, elles ne depasse pas une étoile! Bon c'est clair il vaut pas trop 4 étoiles mais là, les critiques presse sont comment dire! Je ne sais pas comment dire, mais ce film vaut le détour! Je l'ai trouvé très bon, et on retrouve notre bon vieux Michael Youn qui ne ma pas déçu! Au début j'avais peur, vu les critiques presse et spectateurs je m'attendais à quelque chose d'autre ; mais non! Ca vaut vraiment le détour. Rien d'autre à rajouter pour ma part mise à part qu'il faut le voir.",
 'cool']

In [16]:
' '.join(contents)

"Nan mais ça devient n'importe quoi! Je parle pour les critiques presses! C'est quand même une honte de voir ces critiques, elles ne depasse pas une étoile! Bon c'est clair il vaut pas trop 4 étoiles mais là, les critiques presse sont comment dire! Je ne sais pas comment dire, mais ce film vaut le détour! Je l'ai trouvé très bon, et on retrouve notre bon vieux Michael Youn qui ne ma pas déçu! Au début j'avais peur, vu les critiques presse et spectateurs je m'attendais à quelque chose d'autre ; mais non! Ca vaut vraiment le détour. Rien d'autre à rajouter pour ma part mise à part qu'il faut le voir. cool"